.jumbotron {
    background-color: #1e3799;
    h3.jumbo-title {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-family: 'Pacifico';
        color: powderblue;
        margin-top: 24px;
    }
}

.start-button-holder {
    margin: 36px 0;
}