$main-blue: #1e3799;

.jumbotron {
    background-color: $main-blue;
    h3.jumbo-title {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-family: 'Pacifico';
        color: powderblue;
        margin-top: 24px;
    }
}

.start-button-holder {
    margin: 36px 0;
}

.tech-icon {
    .icon-wrapper {
        color: #FFF;
        background-color: lighten(rgba($main-blue, .45), 10%);
        &.circle {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120px;
            width: 120px;
            border-radius: 60px;
        }
        margin-bottom: 24px;
    }
}