<div class="container-fluid full-height">
  <div class="row align-items-center justify-content-center content-wrapper vertical-aligned">
    <div class="col-md-3 col-md-offset-6">
      <div class="form-login-holder">
        <div class="row">
          <div class="col">
            <h3>Sign In</h3>
            <p>In order to log in, put your credential details</p>
            <form [formGroup]="loginForm">
              <fieldset>
                <div class="form-group">
                  <label for="email">E-mail:</label>
                  <input type="text" class="form-control" name="email" id="email" formControlName="email">
                  <form-errors-presenter [field]="loginForm.controls.email"></form-errors-presenter>
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" name="password" id="password" formControlName="password">
                  <form-errors-presenter [field]="loginForm.controls.password"></form-errors-presenter>
                </div>
                <button class="btn btn-danger pull-left">Cancel</button>
                <button class="btn btn-primary pull-right" (click)="login()" [disabled]="!loginForm.valid">Log In</button>
                <button class="btn btn-link pull-right" routerLink="/sign-up">Not registered yet? Sign up</button>
              </fieldset>
            </form>
          </div>
          <hr>
          <div class="col">
            <button class="btn btn-block btn-danger" (click)="loginWithProvider(googleProvider)">
              <i class="fab fa-google"></i> Log in with Google
            </button>
            <button class="btn btn-block btn-primary" (click)="loginWithProvider(facebookProvider)">
              <i class="fab fa-facebook-f"></i> Log in with Facebook
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>